.login-blank {
    margin-top:23px;
}

.title{
    margin-right:530px;
    border-left:opx;
    text-align: left;
}

.loginBox{
    background-color: rgb(235, 249, 244);
    width: 600px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    border-radius: 20px;;
}

.small {
    font-size : small;
    margin-bottom:0px;
    margin-top:30px;
}