// @import url('./reset.css');

// 캐러셀쪽
.wrap-carousel {
    width: 100%;
    height: 30%;
    overflow: hidden;
    margin: 0 auto;
    // background-size: contain;
}
.flexbox {
    display: flex;
    .img1 {
        width: 100vw;
        height: 50vh;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        flex: none;
        background-image: url("../assets/img/testimg2.jpg");
        margin: 0 0;
    }

}
.img1 {
    width: 100vw;
    height: 60vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    background-image: url("../assets/img/testimg.png");
    margin: 0 0;
}

//추천 도서쪽
.wrap-recomendbook {
    background-color: #012405;
    height: 65vh;
    .recomendbook-title{
        font-size: 20px;
        color: white;
        font-family: 'Noto Serif KR', serif;
        margin-left: 30px;
        padding-top: 30px;
    }
}
.wrap-bookimg {
    display: flex;
    padding: 8vh 4vw;
    img {
        margin: 0 3vw;
        width: 12vw;
        aspect-ratio: 1.5 / 2;
        cursor: pointer;
        // height: ;
    }
    img:hover {
        transform: scale(1.2);
    }
}

// 베스트 리뷰쪽

.wrap-bestreview {
    background-color: #2C1500;
    height: 65vh;
    margin-top: 50px;
    .bestreview-title{
        font-size: 20px;
        color: white;
        font-family: 'Noto Serif KR', serif;
        margin-left: 30px;
        padding-top: 30px;
    }
}
.wrap-bookimg {
    display: flex;
    padding: 10vh 4vw;
    img {
        margin: 0 3vw;
        width: 12vw;
        aspect-ratio: 1.5 / 2;
        // height: ;
    }
    img:hover {
        transform: scale(1.2);
    }
}

.team-name {
    text-align: center;
    color: white;
    margin-bottom: 10px;
};