.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(241, 249, 241);
  width: 80%;
  margin-left: 10%;
}

.myinfo-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.myinfo-left {
  width: 20%;
  //   border: 1px solid black;

  .userImg-div {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    overflow: hidden;
    margin: 25px;
    background-color: white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
  }

  .myinfo-update-btns {
    display: flex;
    justify-content: space-between;

    div {
      background-color: rgb(59, 120, 51);
      color: white;
      border-radius: 20px;
      width: 48%;
      height: 35px;
      text-align: center;
      line-height: 35px;
      cursor: pointer;
    }
  }
}

.myinfo-center {
  //   border: 1px solid black;
  width: 50%;
}

.center-genre {
  display: flex;
  padding: 10px;

  h4 {
    margin-top: 10px;
  }

  div {
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(139, 194, 139);
    width: 100px;
    height: 35px;
    text-align: center;
    color: white;
    line-height: 35px;
  }
}

.center-activity {
  margin-top: 3px;
  margin-left: 12px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  height: 70%;
}

.activity-box {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 30px;

  .box-left {
    font-size: 90px;
  }
  .box-center {
    font-size: 90px;
    // border-left : 3px solid black;
    // border-right : 3px solid black;
  }
  .box-right {
    font-size: 90px;
  }

  .line {
    background-color: black;
    width: 2px;
    margin-top: 10px;
  }
}

.activity-title {
  display: flex;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 8px;
}

.myinfo-right {
  //   border: 1px solid black;
  width: 25%;
  padding: 10px;

  h4 {
    margin-top: 10px;
  }

  img {
    margin-top: 15px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
  }
}

.myinfo-bottom {
  margin-top: 60px;
  margin-left: 20%;
  width: 70%;

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
  }
}

.review-box {
  display: flex;
  margin-bottom: 50px;

  img {
    width: 13%;
    margin-right: 10px;
  }
}

.review-info {
  margin-top: 10px;

  div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    div {
      display: flex;
      p {
        margin-right: 15px;
      }
    }
  }
}
