.wrap-content {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
}

.wrap-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-reviews-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
}

.default-btn {
    border: 1px solid black;
    border-radius: 3px;
    // height: 20px;
    padding: 5px;
    float: right;
    cursor: pointer;
}

.default-btn2 {
    border: 1px solid black;
    border-radius: 3px;
    // height: 20px;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    float: right;
}

.wrap-book {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    img {
        width: 13vw;
        aspect-ratio: 1.5 / 2;
    }
}

.wrap-bookinfo {
    width: 30vw;
    // background-color: #faebd7;
}

.book-info {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #EDF0EB;
    margin-bottom: 10px;
    border-radius: 10px;
}

.dday {
    font-size: 50px;
    margin-right: 4vw;
    // margin-left: 5vw;
}


// 도독바

.wrap-bar {
    display: flex;
    height: 20vh;
    margin-top: 10vh;
}

.standing-line {
    width: 0.5%;
    background-color: green;
}

.lying-line {
    width: 100%;
    height: 0.7vh;
    background-color: green;
    margin: auto 0;
    display: flex;
}

.small-standing-line {
    width: 0.2vw;
    height: 4vh;
    background-color: black;
    margin: 0 auto;

    :hover {
        transform: scale(1.3);
        z-index: 999;
    }
}

.userImg-div {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 80px;
    // overflow: hidden;
    img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.userImg-div :hover {
    transform: scale(1.3);
    z-index: 999;
}
// 총평쪽
.wrap-review{
    margin-top: 20px;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 1px solid;
}
.wrap-user-info {
    display: flex;
    p {
        margin: auto 20px;
    }
    .rating{
        margin: auto 0;
    }
    .user-img-div {
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 80px;
        // overflow: hidden;
        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.review-content {
    margin-top: 10px;
}

// 모달쪽
.wrap-modal-btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.cancle-btn {
    border: 1px solid ;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.allow-btn {
    cursor: pointer;
    border: 1px solid ;
    padding: 10px 10px;
    border-radius: 10px;
}

.page-input {
    width: 40px;
    margin-left: 10px; 
}
.review-input {
    font-size: 20px;
    width: 300px;
    height: 200px;
    margin-top: 20px;
}

.wrap-allpage-review {
    width: 400px;
    margin-top: 30px;
}
.wrap-profile {
    display: flex;
     .user-img-div {
        width: 50px;
        height: 50px;
        border-radius: 40px;
        // overflow: hidden;
        img {
            border-radius: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.modal-title {
    text-align: center;
}
.wrap-review-content {
    width: 70%;
    margin: 0 auto;
    div {
        margin-bottom: 10px;
    }
}
.wrap-flex-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}