.teammanage-container {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 100px;
}

.teammanage-header {
    display: flex;
    justify-content: space-between;

    h2 {
        margin-top: 40px;
    }

    div {
        padding-top: 10px;
        margin-top: 50px;
        border: 1px solid rgb(195, 194, 194);
        border-radius: 10px;
        width: 100px;
        height: 30px;
        text-align: center;
        cursor: pointer;
    }
}

.teamInfoBox {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
    .teamInfo-left {
        width: 47%;
        height: 220px;
    }
    .teamInfo-right {
        width: 47%;
        line-height: 40px;
        margin-right: 20px;
        margin-top: 5px;
    }

    .right-top-content {
        display: flex;
        justify-content: space-between;

        .content-right {
            text-align: end;
        }
    }

    .right-bottom-content {

        .tag-top {
            display: flex;
            margin-top: 10px;
            margin-bottom: 20px;
            div {
                border-radius: 15px;
                background-color: rgb(53, 68, 53);
                width: 150px;
                height: 40px;
                margin-right: 15px;
                margin-top: 10px;
                text-align: center;
                justify-content: center;
                color: #ffffff;
            }
        }

        .tag-bottom {
            display: flex;

            div {
                border-radius: 15px;
                background-color: rgb(88, 201, 86);
                width: 150px;
                height: 40px;
                margin-right: 15px;
                text-align: center;
                justify-content: center;
                color: white;
            }
        }
    }
}

.second-box {
    margin-top: 70px;
    margin-bottom: 70px;

}

.rule-box {
    line-height: 20px;;
}

.third-box {
    margin-bottom: 50px;
}
.introduction-box {
    background-color: rgb(240, 238, 238);
    border-radius: 10px;;
    width: 100%;
    height: 150px;
    padding: 7px;
}

.pre-choice {
    font-size: 12px;
}

.genre-box {
    display: flex;
    margin: 7px;
    flex-wrap: wrap;
}

.active {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border: 1px green solid;
    border-radius: 5px;;
    padding-top: 10px;
    padding-left: 17px;
    color: white;
    background-color: green;
    margin-top: 10px;
}

.notActive {
    margin-right: 10px;
    width: 100px;
    height: 30px;
    border: 1px green solid;
    border-radius: 5px;;
    padding-top: 10px;
    padding-left: 17px;
    color: green;
    margin-top:10px;
}

.btns {
    display: flex;
    justify-content: space-between;
}