.firstBox {
    margin-top: 50px;
    margin-left: 30px;
}

.myteam-wrap-bookimg {
    display: flex;
    padding: 5vh 2vw;
    img {
        margin: 0 5vw;
        width: 13vw;
        aspect-ratio: 1.5 / 2;
        // height: ;
    }
    p {
        margin: 0 11vw;
    }
}

.recommend-reason {
    text-align: center;
    margin-right: 80px;
}

.secondBox {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
}

.dodokInfo-header {
    display: flex;
    justify-content: space-between;
}

.dodokInfo-headerLeft {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 55px;
}

.startDodokBtn {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 15px;;
    height: 30px;
    width: 90px;
    padding-top: 7px;
    padding-left: 25px;
}