.firstBox {
    margin-top: 50px;
    margin-left: 30px;
}

.myteam-wrap-bookimg {
    display: flex;
    padding: 5vh 2vw;
    img {
        margin: 0 5vw;
        width: 13vw;
        aspect-ratio: 1.5 / 2;
        // height: ;
    }
    p {
        margin: 0 11vw;
    }
}

.recommend-reason {
    text-align: center;
    margin-right: 80px;
}

.secondBox {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
}

.dodokInfo-header {
    display: flex;
    justify-content: space-between;
}

.dodokInfo-headerLeft {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 55px;
}

.startDodokBtn {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 15px;;
    height: 30px;
    width: 90px;
    padding-top: 7px;
    padding-left: 25px;
    cursor: pointer;
}

.dodokInfo-content {
    display: flex;
}

.content-left {
    width: 50%;
    line-height: 50px;;
}

.content-right {
    width: 50%;
    line-height: 50px;;
}


.left-bookname {
    display: flex;

    input {
        margin-left: 30px; 
        margin-top: 5px;
        width: 350px; 
        height: 40px;
        border : 1px solid lightgray;
        border-radius: 5px;;      
    }
}

.left-genre {
    display: flex;
    p {
        margin-right: 25px;
        margin-top: 10px;
    }
}

.left-startdate {
    display: flex;

    p {
        margin-right: 30px;
    }
}

.right-author {
    display: flex;

    input {
        margin-left: 64px; 
        margin-top: 5px;
        width: 350px; 
        height: 40px;
        border : 1px solid lightgray;
        border-radius: 5px;;      
    }
}

.right-page {
    display: flex;

    input {
        margin-left: 30px; 
        margin-top: 5px;
        width: 100px; 
        height: 40px;
        border : 1px solid lightgray;
        border-radius: 5px;;      
    }
}

.right-enddate {
    display: flex;
    margin-top: 10px;

    p {
        margin-right: 64px;
    }
}

.thirdBox {
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 100px;
}

.search-header {
    display: flex;
    justify-content: space-between;

    h2 {   
        margin-bottom: 0px;
        padding-top: 15px;
    }
}

.search-bar {
    display: flex;
    margin-top: 30px;
}

.no-result {
    margin-top: 30px;
    text-align: center;
}
.book-container {
    .wrap-img{
        // justify-content: center;
        text-align: center;
        position: relative;
    }
    img {
        width: 10vw;
        aspect-ratio: 1.5/ 2;
    }
    :hover img {
        cursor: pointer;
        filter: brightness(60%);
    } 
    p {
        text-align: center;
    }
}
// .img-text{
//     opacity: 0;
//     position: absolute;
//     top:50%;
//     left:50%;
// }

.result-container {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    margin-top: 20px;   
    // cursor: pointer;
    // display: flex;
    // flex-wrap: wrap;
    // border-color: red;
}
.searchicon{
    cursor: pointer;
}
.booktitle {
    text-align: center;
}