@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Noto+Serif+KR:wght@300&display=swap');
// @import url('./reset.css');
.myteam-container {
    display: flex;
    height: 100%;
}
.sidebar {
    width: 15%;
    background-color: #F5F5F5;
    
}
.others {
    width: 85%;
}
.wrap-sidebar {
    padding-top: 80px;
    padding-left: 20px;
}

.sidebar-list {
    list-style-type: none;
    padding-top: 10px;
    font-family:'Pretendard-Regular';
    font-size: 20px;

    li {
        margin-top: 50px;
        // opacity: 0.5;
        cursor: pointer;
    }
}

.active {
    opacity: 1;
    font-weight: bold;
}

.notActive {
    opacity: 0.5;
}

.side-title {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.side-content {
    margin-left: 10px;
    font-size: 1.2rem;
    margin-bottom: 12px;
    // border: solid 1px black;
    // display: inline-block;
    // width: auto;
    // padding: 8px;
    // border-radius: 10px;
}