.signup-blank {
    margin-top:23px;
}

.signup-dupli {
    height: 40px;
    margin-top: 500px;
}

.signup-genre {
    margin-right: 30px;
    width: 70px;
    height: 30px;
    border: 1px green solid;
    border-radius: 5px;;
    padding-top: 5px;
    padding-left: 17px;
    color: green;
}

.title{
    margin-right:700px;
    border-left:opx;
    text-align: left;
}

.signupBox{
    background-color: rgb(235, 249, 244);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;;
}

.active {
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border: 1px green solid;
    border-radius: 5px;;
    padding-top: 10px;
    padding-left: 17px;
    color: white;
    background-color: green;
}

.notActive {
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border: 1px green solid;
    border-radius: 5px;;
    padding-top: 10px;
    padding-left: 17px;
    color: green;
}