.signup-blank {
    margin-top:23px;
}

.signup-dupli {
    height: 40px;
    margin-top: 500px;
}

.signup-genre {
    margin-right: 30px;
    width: 100px;
    height: 50px;
}

.title{
    margin-right:700px;
    border-left:opx;
    text-align: left;
}

.signupBox{
    background-color: rgb(235, 249, 244);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;;
}