.title {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.join-btn{
    float: right;
    // margin-right: 80px;
}
.wrap-bar{
    font-family: 'Noto Serif KR', serif;;
    margin-right: 80px;
}