.passwordupdate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents-container {
    // text-align: center;
    width: 40%;
    background-color: rgb(235, 249, 244);
    border-radius: 20px;
    padding-left : 20px;
    padding-right : 10px;

    .contents{
        margin-left: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-top: 10px;

        .now-password {
            display: flex;
            margin-top: 10px;

            h4 {
                margin-right: 42px;
                margin-top: 30px;
            }
        }

        .new-password {
            display: flex;
            margin-top: 10px;

            h4 {
                margin-right: 55px;;
                margin-top: 30px;
            }
        }

        .new-password-confirm {
            display: flex;
            margin-top: 10px;

            h4 {
                margin-right: 20px;
                margin-top: 30px;
            }
        }
    }
}

.btns {
    display: flex;
    margin-left: 35%;
    margin-bottom: 20px;
}

.btn-blank {
    margin: 10px;
    width: 10px;
}